<div class="hero-unit">
	<h1>First Ruby on Rails Application!</h1>
	<p>
		This is my first application in Ruby!  
		<%= link_to "SEconnect", "http://www.seconnect.org" %>
	</p>
	<p>
		<%= link_to "Sign Up", "#", class: "btn btn-success btn-large" %>
	</p>
</div>
